/*.container {*/
/*  text-align: center;*/
/*  margin: 0 auto;*/
/*  padding: 0;*/
/*  display: inline-grid;*/
/*  !*flex-direction: column;*!*/

/*}*/
.searchdiv {
    display: inline-block;
    font-weight: bolder;
    margin-bottom: 5px;
}

.title-1 {
    font-size: 100px;
    font-weight: bold;
    font-family: monospace;
    margin-block-start: 0;
    margin-block-end: 0;
}

.title-2 {
    font-size: 100px;
    font-weight: bold;
    font-family: monospace;
    color: forestgreen;
    margin-block-start: 0;
    margin-block-end: 0;
}

.title-div {
    /*margin-top: 10%;*/
    padding: 0;
    display: flex;
    margin-left: 34%;
}